<% column_count = 1 %>
<% if @knowledges.count > 0 %>
  <% if column_count == 1 %>
    <div class="row">
  <% end %>
  <% @knowledges.each do |knowledge| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
  		  <%= link_to content_tag(:div, nil, {class: ["file-icon", "file-icon-xl"], data: {type: 'docx'}}), knowledge.file.url, {:target => "_blank"} %>
  		  <div class="caption">
  			  <h3><%= link_to knowledge.show_name, knowledge_path(knowledge) %></h3>
  			  <p><%= knowledge.tag_list %></p>
  		  </div>
  	  </div>
    </div>
    <% if column_count == 4 || column_count == @knowledges.count %>
      </div>
  	  <% column_count = 1%>
    <% end %>
    <% column_count += 1%>
  <% end %>
<% else %>
  <p><%= t('busqueda_tags_sin_resultado', scope: i18n_scope) %></p>
<% end %>
