<% i18n_scope = "conocimiento" %>

<div class="page-header">
  <h1><%= t('titulo_agregando', scope: i18n_scope) %></h1>
</div>

<%= render 'form_new' %>

<%= link_to t('boton_regresar', scope: i18n_scope), :back, class: 'btn btn-warning' %>
