/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets"
@import "bootstrap"
@import "fileicon"

body  
  padding-bottom: 70px

.word-wrap 
  word-break: break-word
  word-wrap: break-word
  
.ellipsis
  display: block
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden


.floating-message-container
  width: 100% 
  position: absolute
  padding-top: 25px

.bring-to-front
  z-index: 999

.center-fixed-content
  margin: 0 auto
  
.thumbnail-fixed
  min-height: 200px
  overflow: hidden
  
.thumbnail-fixed:after 
  content: ""
  display: block
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 18%
  background-size: 100%
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#FFFFFF))
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#FFFFFF 100%)
  background: -moz-linear-gradient(top,rgba(231,231,226,0) 0,#FFFFFF 100%)
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#FFFFFF 100%)
  
.search-form-padding
  padding-top: 15px 
  padding-bottom: 15px
  
.footer-bottom
  bottom: 0px
  position: absolute
  
.transition-add
  max-height: 200px
  max-width: 200px
  -webkit-transition: max-height 400ms
  -moz-transition: max-height 400ms
  -ms-transition: max-height 400ms
  -o-transition: max-height 400ms
  transition: max-height 400ms

.transition-add:hover
  max-height: 300px
  -webkit-transition: max-height 400ms
  -moz-transition: max-height 400ms
  -ms-transition: max-height 400ms
  -o-transition: max-height 400ms
  transition: max-height 400ms
  
.btn-file
  position: relative
  overflow: hidden

.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-width: 100%
  min-height: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block
