<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a que se ha superado el límite de intentos de logueo errados.</p>

<p>Entra en el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
